<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxm.yiti.mapper.ChatRecordInfoMapper">
  <resultMap id="BaseResultMap" type="com.jxm.yiti.domain.ChatRecordInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="date" jdbcType="VARCHAR" property="date" />
    <result column="ntimes" jdbcType="VARCHAR" property="ntimes" />
    <result column="ntokens" jdbcType="VARCHAR" property="ntokens" />
    <result column="vtimes" jdbcType="VARCHAR" property="vtimes" />
    <result column="vtokens" jdbcType="VARCHAR" property="vtokens" />
    <result column="iVtimes" jdbcType="VARCHAR" property="ivtimes" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, `date`, ntimes, ntokens, vtimes, vtokens, iVtimes
  </sql>
  <select id="selectByExample" parameterType="com.jxm.yiti.domain.ChatRecordInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from chat_record_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from chat_record_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from chat_record_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.jxm.yiti.domain.ChatRecordInfoExample">
    delete from chat_record_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jxm.yiti.domain.ChatRecordInfo">
    insert into chat_record_info (id, `date`, ntimes, 
      ntokens, vtimes, vtokens, 
      iVtimes)
    values (#{id,jdbcType=BIGINT}, #{date,jdbcType=VARCHAR}, #{ntimes,jdbcType=VARCHAR}, 
      #{ntokens,jdbcType=VARCHAR}, #{vtimes,jdbcType=VARCHAR}, #{vtokens,jdbcType=VARCHAR}, 
      #{ivtimes,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jxm.yiti.domain.ChatRecordInfo">
    insert into chat_record_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="date != null">
        `date`,
      </if>
      <if test="ntimes != null">
        ntimes,
      </if>
      <if test="ntokens != null">
        ntokens,
      </if>
      <if test="vtimes != null">
        vtimes,
      </if>
      <if test="vtokens != null">
        vtokens,
      </if>
      <if test="ivtimes != null">
        iVtimes,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="date != null">
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="ntimes != null">
        #{ntimes,jdbcType=VARCHAR},
      </if>
      <if test="ntokens != null">
        #{ntokens,jdbcType=VARCHAR},
      </if>
      <if test="vtimes != null">
        #{vtimes,jdbcType=VARCHAR},
      </if>
      <if test="vtokens != null">
        #{vtokens,jdbcType=VARCHAR},
      </if>
      <if test="ivtimes != null">
        #{ivtimes,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jxm.yiti.domain.ChatRecordInfoExample" resultType="java.lang.Long">
    select count(*) from chat_record_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update chat_record_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.date != null">
        `date` = #{record.date,jdbcType=VARCHAR},
      </if>
      <if test="record.ntimes != null">
        ntimes = #{record.ntimes,jdbcType=VARCHAR},
      </if>
      <if test="record.ntokens != null">
        ntokens = #{record.ntokens,jdbcType=VARCHAR},
      </if>
      <if test="record.vtimes != null">
        vtimes = #{record.vtimes,jdbcType=VARCHAR},
      </if>
      <if test="record.vtokens != null">
        vtokens = #{record.vtokens,jdbcType=VARCHAR},
      </if>
      <if test="record.ivtimes != null">
        iVtimes = #{record.ivtimes,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update chat_record_info
    set id = #{record.id,jdbcType=BIGINT},
      `date` = #{record.date,jdbcType=VARCHAR},
      ntimes = #{record.ntimes,jdbcType=VARCHAR},
      ntokens = #{record.ntokens,jdbcType=VARCHAR},
      vtimes = #{record.vtimes,jdbcType=VARCHAR},
      vtokens = #{record.vtokens,jdbcType=VARCHAR},
      iVtimes = #{record.ivtimes,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jxm.yiti.domain.ChatRecordInfo">
    update chat_record_info
    <set>
      <if test="date != null">
        `date` = #{date,jdbcType=VARCHAR},
      </if>
      <if test="ntimes != null">
        ntimes = #{ntimes,jdbcType=VARCHAR},
      </if>
      <if test="ntokens != null">
        ntokens = #{ntokens,jdbcType=VARCHAR},
      </if>
      <if test="vtimes != null">
        vtimes = #{vtimes,jdbcType=VARCHAR},
      </if>
      <if test="vtokens != null">
        vtokens = #{vtokens,jdbcType=VARCHAR},
      </if>
      <if test="ivtimes != null">
        iVtimes = #{ivtimes,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jxm.yiti.domain.ChatRecordInfo">
    update chat_record_info
    set `date` = #{date,jdbcType=VARCHAR},
      ntimes = #{ntimes,jdbcType=VARCHAR},
      ntokens = #{ntokens,jdbcType=VARCHAR},
      vtimes = #{vtimes,jdbcType=VARCHAR},
      vtokens = #{vtokens,jdbcType=VARCHAR},
      iVtimes = #{ivtimes,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>